body {
  font-family: "Atimo", sans-serif;
  font-size: 14pt;
  color: white;

  background-color: #353535;;
}

.titulo {
  font-size: 16pt;
  color: #ffc74b;
}

/* Adicione esta classe para elementos que permitem clique direito */
.allow-right-click {
  /* Estilo vazio - apenas para identificação */
}